#container{
    width: 100%;
}
#titleText{
    margin-top: 5%;
    text-align: center;
}
#colunmGrid{
    width: 400%;
    margin-top: 3%;
}
#planName{
    width: 100%;
    height: 15%;
    font-size: 150%;
    text-align: center;
    margin-bottom: 15%;
}
#differencesNameBlockTop{
    display: block;
    opacity: 0%;
}
#invisibleLine{
    display: block;
    opacity: 0%;
    margin-bottom: 17%;
}
#differencesNameBlock{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
}
#differencesName{
    font-size: 150%;
}
#tickIcon, #crossIcon{
    font-size: 210%;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#priceRadio{
    margin-right: 3%;
}
#priceValue{
    font-size: 150%;
}